table.tableHeader{
 	width:100%;
}
table.rowTable{
   	border-style:solid;
   	border-width:1px;
   	border-left:none;
   	border-right:none;
   	border-top:none;
   	border-color:#DDDFE4;
}

td.tdComment{
	border-style:solid;
	border-width:1px;
	border-color:#DDDFE4;
	border-top:none;
	border-left:none;
}
td.tdCommentHeader{
	border-width:0px;
	background-color:#DDDFE4;
}

#postOuterContainer{
	border: 1px solid #000000;
	}
	
#postInnerContainer{
	margin: 5px;
}

#blogMainContainer{
	margin: 5px;
}

#profilePopup{
	border: 1px black solid;
	position: absolute;
	/*visibility: hidden;*/
	display: none;
	background-color: #f8f8e0;
}

.profilePhotoWrapper{
	text-align: center;
}

.profilePhoto{
    border: solid black 2px;
}

.memberPageProfilePhoto{
	float: left;
	margin-right: 5px;
}
	
.profileBlurb{
}

#rssLink{
	float: right;
}

#postsWrapper{
	clear: both;
	margin-top: 10px;
	margin-left: 0px;
}

#viewOptions{
	float: left;
	margin: 0px;
}

#postPager{
	float: right;
	margin-right: 4px;
}

#posts{
	clear: both;
}
	
#author{
	float: right;
	font-size:12px;
	clear:right;
	font-family:Verdana, Arial, Helvetica, sans-serif;
}

#postAccessPanel{
	float:right;
}

#postOptionsPanel{
	float: left;
}

#noPostsLabel{
	clear:both;
	padding-top: 10px;
	font-weight: bold;
	font-size: 12pt;
}

#title{
	font-size:18px;
	color:#990000;
	font-family:Verdana, Arial, Helvetica, sans-serif;
	float: left;
}

#abstract{
	clear: both;
	padding-top: 5px;
	font-size:12px;
	color:#003300;
	font-weight:bold;
	font-family:Verdana, Arial, Helvetica, sans-serif;
}
#elementPanel{
	float:left;
	clear: left;
	padding-right: 7px;
}

#elementOptionsPanel{
	padding-left: 15px;
}

#elementViewWrapper{
	width: auto;
}

.newLink {
        clear: left;
	padding-top: 5px;
}

#sortPanel{
	float: left;
}
